body {
    background-color: rgb(34, 34, 34);
    margin: 0;
}
h1{
    color: azure;
    display: flex;
    justify-content: center;

}
a{
    text-decoration: none;
    display: flex;
    color: white;
    font-size: 20px;
}
a:hover{
    color: blueviolet;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    
}
.paginas{
    display: flex;
    gap: 20px;
}
.cards{
    display: flex;
    gap: 20px;
    border: 5px solid white;
    height: 100dvh;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.cards > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    gap: 10px;
}
.thumb {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}
.titulo{
    font-size: 18px;
    width: 150px;
    font-weight: bold;
}
.info{
    font-size: 10px;
    font-weight: bold;
    display: flex;
    gap: 15px;
}
.info > label{
    display: flex;
    align-items: center;
    gap: 5px;
}
.info > label > i {
    font-size: 14px;
}
